<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
  <h3>Files List</h3>
    <div class="row col-md-8 ">
      <table id="customerTable" class="table table-bordered table-jhover table-responsive">
        <thead>
          <tr>
            <th></th>
            <th>File Url</th>
            <th>Uploaded at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each files}}
          {{setADate uploadDate}}
          <tr>
            <td><i class='fas fa-file' style="font-size:18px;"></i></td>
            <td><a href='#'>{{url}}</a></td>
            <td>{{getADate}}</td>
            <td><a href='#'><i class='fas fa-trash''></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
