<h1>New Test</h1>
<section id="login-register-form-section" class="login-register-form-section">
    <div role="tabpanel" class="tab-pane fade in active" id="login">
        <form id='newTestForm' class="form-horizontal" method="post" action="test2">
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" placeholder="Owner name" required="required"
                        value="">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="email" name="email" class="form-control" placeholder="Owner E-mail" required="required"
                        value="">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-birthday-cake"></i></div>
                    <input type="date" name="birth_date" class="form-control" placeholder="Owner birth date" value="">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <h5 style="left:20px; position: relative;">Gender</h5>
                    <div style="left:25px; position: relative">
                        <input type="radio" id="male" name="gender" value="false" checked>
                        <label for="male">Male</label>
                    </div>
                    <div  style="left:25px; position: relative">
                        <input type="radio" id="female" name="gender" value="true">
                        <label for="female">Female</label>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-vial"></i></div>
                    <h5 style="left:20px; position: relative">Blood type</h5>
                    <div  style="left: 30px; position: relative">
                        <input type="radio"id="Ablood" name="blood_type" value="1" checked>
                        <label for="Ablood">A</label>
                        <input type="radio" id="Bblood" name="blood_type" value="2">
                        <label for="Bblood">B</label>
                    </div>
                    <div style="left: 30px; position: relative">
                        <input type="radio" id="ABblood" name="blood_type" value="3">
                        <label for="ABblood">AB</label>
                        <input type="radio" id="Oblood" name="blood_type" value="4">
                        <label for="Oblood">O</label>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="text" name="property1" class="form-control" placeholder="Property1">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="text" name="property2" class="form-control" placeholder="Property2">
                </div>
            </div>

            <div id='uploadArea'>
              <div class="form-group ">
                  <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-file"></i></div>
                      <input id="fileBox" type="file" name="file" class="form-control" placeholder="file">
                  </div>
              </div>
              <input id='uploadButton' type="submit" value="Upload Test" class="btn btn-success btn-custom">
            </div>
        </form>
    </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/uploader.js"></script>