<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
  <h2>Users List</h2>
    <div class="row col-md-7 ">
      <table id="customerTable" class="table table-bordered table-jhover table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody>
          {{#each usersList}}
            <td>{{userName}}</td>
            <td>{{email}}</td>>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
