<!DOCTYPE html>
<html lang="en">
<head>
  <title>Geneyx</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="container-fluid">
    <div class="gnx-navbar">
      <a class="gnx-navbar-logo" href="#"><img src="/img/geneyx.png" style="width:90px;"></a>
      <a class="gnx-navbar-left" href="#"><img src="/img/user.png"></a>
      <a class="gnx-navbar-left" href="#"><img src="/img/notification.png"></a>
  </div>
</nav>
  {{{body}}}
</body>

</html>