  <header>
    <h2><a href="/"><i class="fas fa-dna"></i>
        Geneyx</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/admin/Labs">All Labs</a>
        </li>
        <li>
          <a href="/admin/Labs/add">Add Lab</a>
        </li>
      </ul>
    </nav>
  </header>
