<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link href="/css/login.css" rel="stylesheet" type="text/css">

<section id="login-register-form-section" class="login-register-form-section geneyx_ff">
  <div class="gnx-login-form">
    <h1>Welcome to<a href="/"><img src="../img/geneyx.png" style="width:120px"></a></h1>
    {{#with message}}
    <h1>{{success}}</h1>
    <h1>{{error}}</h1>
    {{/with}}
    <h3>Login</h3>
    <form class="form-horizontal" method="post" action="/authenticate">
      <div class="gnx-form-group" >
        <div class="input-group">
          <div class="input-group-addon"><i style="width: 12px; height: 12px" class="fa fa-user"></i></div>
          <input type="text" name="username" class="form-control" placeholder="Username or email" required="required" value="">
        </div>
      </div>
      <div class="gnx-form-group">
        <div class="input-group">
          <div class="input-group-addon"><i style="width: 12px; height: 12px" class="fa fa-key"></i></div>
          <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
      </div>
      <!-- div class="form-group">
        <input type="checkbox" id="rememberMe">
        <label for="rememberMe">Remember Me</label>
        <a href="#" class="pull-right">Forgot password?</a>
      </div -->  
      <input type="submit" value="Sign In" class="btn btn-success btn-custom">
    </form>
    <div>
    <center>
      <br>
      <!-- h4 style:"">Don't have an account?      <a href="/signup ">Sign Up</a></h4 -->
    </center>
  </div>
  </div> 
</section>