<link rel="stylesheet" href="/css/lab.css">


<div class="gnx-lab">
  <div class="gnx-lab-menu">
    <div class="gnx-lab-menu-name">{{name}}</div>
    <br>
    <div class="gnx-lab-menu-item"><a href="/"></a>New</div>
    <div class="gnx-lab-menu-item"><a href="/"></a>Upload</div>
    <div class="gnx-lab-menu-item" onclick="document.getElementById('gnxLabUploadBox').style.display='block';"><a href="/"></a>Bulk Upload</div>
  </div>

  <div id='gnxLabUploadBox' style='display: none;'>
    <div class='gnx-lab-upload-close' onclick="document.getElementById('gnxLabUploadBox').style.display='none';">X</div>
    <div class='gnx-lab-upload-label'>Please upload an excel file</div>
    <form action="{{bulkuploadurl id}}" method="post" enctype="multipart/form-data">
      <input class="gnx-lab-upload-input" type="file" name="bulkuploadexcel" id="excelToUpload">
      <input class="gnx-lab-upload-input" type="submit" name="submit" value="Upload">
    </form>
  </div>

  <div class="gnx-lab-body">
    <div class="gnx-lab-owners-list">
      {{#if ownersList}}
        {{putlabid id}}
        {{>ownerTable}}
      {{/if}}
    </div>
  </div>

  <div id="progressBar"></div>
</div>