.gnx-lab {
  position: relative;
  width: 100%;
  height: 650px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.gnx-lab-body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 78%;
}

/* Left menu */

.gnx-lab-menu {
  position: absolute;
  top: -1px;
  left: 0;
  bottom: 0;
  width: 10rem;
  border-right: 1px darkgrey solid;
  background-color: #f8f8f8;
}

.gnx-lab-menu-name {
  width: 80%;
  height: 2rem;
  margin: 0 0.3rem 0.3rem 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
  text-align: center;
  color: black;
  background-color: darkgrey;
}

.gnx-lab-menu-item {
  width: 80%;
  height: 2rem;
  margin: 2rem 0.3rem 0.3rem 0.5rem;
  border-radius: 3px;
  background-color: lightgrey;
  text-align: center;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
}
/*************************** Search *****************/
.gnx-lab-search-cont {
  margin-top: 1rem;
  background-color: lightgrey;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.gnx-lab-search-label {
  display: inline-block;
  width: 15rem;
  margin: 1rem 2rem 0 0;

}

.gnx-lab-search-input {
  float: right;
}

.input[type=submit] {
  width: 8rem;
  height: 2rem;
  margin: 2rem 0.3rem 0.3rem 0rem;
  border-style: none;
  border-radius: 3px;
  background-color: darkgrey;
  text-align: center;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
}

#clearSearch {
  display: inline-block;
  width: 8rem;
  height: 1rem;
  margin: 2rem 0.3rem 0.3rem 0rem;
  font: 400 13.3333px Arial;
  border-style: none;
  border-radius: 3px;
  background-color: darkgrey;
  text-align: center;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
}

/*************************** Table ****************/
.gnx-table {
  display: block;
  overflow-y: scroll;
  height: 25rem;
  width: 100%;
  border-style: solid;
}

table {
  border-collapse: collapse;
}

th {
  background-color: lightgrey;
}

tr {
  height: 3rem;
}

table, th, td {
  border: 1px solid darkgrey;
}

.gnx-download-link {
  display: inline;
  color: blue;
  border-bottom: solid 1px blue;
  cursor: pointer;
}

/*************************** Other stuff *************/


#progressBar {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
}



/* Upload box */
#gnxLabUploadBox {
  position: fixed;
  top: 20rem;
  left: calc((100% - 30%)/2);
  width: 30%;
  height: 15rem;
  z-index: 1000;
  background-color: beige;
  border: 1px solid bisque;
  border-radius: 3px;
}

.gnx-lab-upload-close {
  float: right;
  width: 15px;
  height: 20px;
  margin: 0.3rem 0.3rem 0 0;
  padding-left: 0.4rem;
  border: 1px black solid;
  border-radius: 20px;
  cursor: pointer;
}

.gnx-lab-upload-label {
  margin: 3rem 0 0 1rem;
}

.gnx-lab-upload-input {
  margin: 3rem 0 0 1rem;
}

.gnx-lab-search-submit {
  width: 8rem;
  height: 2rem;
  margin: 2rem 0.3rem 0.3rem 0;
  border-style: none;
  border-radius: 3px;
  background-color: darkgrey;
  text-align: center;
  padding: 0.5rem;
  color: black;
  cursor: pointer;
}